.loja-container {
    padding: 20px;
}

.loja-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.perfil-button {
    background-color: #fff;
    color: #0066cc;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.perfil-button:hover {
    background-color: #005bb5;
    color: #fff;
}

.produtos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.produto-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.blocos-colunas {
    height: 100%;
    width: 100%;
}

.user-produto-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10%;
    width: 145%;
}

.preco {
    font-weight: bold;
    color: #2d87f0;
}

.emoji {
    font: normal 40px normal;
    color: white;
}

.botao-adicionar {
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 7%;
    font: normal 13px italic;
    margin-top: 15px;
    width: 140px;
    height: 74px;
}

.botao-adicionar:hover {
    background-color: #5bb837;
    color: #fff;
}

.botao-carrinho {
    background-color: rgb(251, 255, 0);
    color: rgb(86, 67, 67);
    border-radius: 7%;
    font: normal 15px italic;
    margin-top: 15px;
    width: 140px;
    height: 72px;
}

.botao-carrinho:hover {
    background-color: #898917;
    color: #fff;
}

.botao-editar:hover {
    background-color: silver;
}

.botao-excluir {
    background-color: black;
    color: yellow;
}

.botao-excluir:hover {
    background-color: #b50000;
    color: #fff;
}

.botao-salvar {
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);
}

.botao-salvar:hover {
    background-color: #5bb837;
    color: #fff;
}

img {
    width: 180px;
    height: 120px;
}

.perfil-page {
    display: flex;
}

.perfil {
    height: auto;
    width: 10%;
    background-color: rgba(244, 169, 214, 0.511);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.img_perfil {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.571);
    width: 100%;
    border-radius: 100%;
}

.user-produtos-container {
    width: 59%;
}